<div
    class="subscribe-inner-area ptb-100"
    style="background-image: url(images/subscribe-bg.jpg);"
>
    <div class="container">
        <div class="subscribe-inner-text">
            <h2>Get Better Solution For Your Business & Get Update Newsletter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <form class="newsletter-form">
                <input type="email" class="input-newsletter" placeholder="Enter your email" name="email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</div>