.subscribe-inner-area {
    position: relative;
    z-index: 1;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
    };
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        background-color: var(--main-color);
        opacity: 0.8;
    }
}
.subscribe-inner-text {
    text-align: center;

    h2 {
        color: var(--white-color);
        font-size: 40px;
        max-width: 700px;
        margin: {
            bottom: 10px;
            left: auto;
            right: auto;
        };
    }
    p {
        color: var(--white-color);
    }
    .newsletter-form {
        max-width: 550px;
        position: relative;
        margin: {
            left: auto;
            right: auto;
            top: 35px;
        };
        .input-newsletter {
            display: block;
            width: 100%;
            background-color: var(--white-color);
            border: none;
            height: 65px;
            border-radius: 70px;
            outline: 0;
            color: var(--black-color);
            padding: {
                left: 25px;
            };
        }
        button {
            position: absolute;
            right: 5px;
            top: 5px;
            background-color: var(--black-color);
            color: var(--white-color);
            border: none;
            height: 55px;
            padding: 0 30px;
            border-radius: 70px;
            transition: var(--transition);
            line-height: 55px;
            font: {
                size: 15px;
                weight: 700;
            };
            &:hover {
                background-color: var(--main-color);
                color: var(--white-color);
            }
        }
        #validator-newsletter {
            color: red;
            margin-top: 15px;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .subscribe-area {
        text-align: center;

        .subscribe-content {
            margin-bottom: 20px;

            h2 {
                font-size: 25px;
            }
        }
        .newsletter-form {
            button {
                position: relative;
                right: 0;
                top: 0;
                margin-top: 15px;
                padding: 0 25px;
                border-radius: 5px;
                font-size: 14px;
            }
        }
    }
    .subscribe-inner-text {
        h2 {
            font-size: 25px;
        }
        .newsletter-form {
            button {
                position: relative;
                margin-top: 10px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .subscribe-area {
        .subscribe-content {
            margin-bottom: 20px;
        }
    }
    .subscribe-inner-text {
        h2 {
            font-size: 32px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}