<app-navbar />

<app-page-banner
    [pageTitle]="'Blog Right Sidebar'"
    [pageSubTitle]="'Blog'"
    [backgroundImage]="'images/page-title/bg-4.jpg'"
/>

<!-- Blog -->
<div class="blog-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/blog-details"><img src="images/blog/img1.jpg" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>20 March 2025</span>
                                <h3><a routerLink="/blog-details">Great Tips To Earn More Money From Digital Industry</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/blog-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/blog-details"><img src="images/blog/img2.jpg" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>25 April 2025</span>
                                <h3><a routerLink="/blog-details">The Billionaire Guide On Design That will Get You Rich</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/blog-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/blog-details"><img src="images/blog/img3.jpg" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>30 July 2025</span>
                                <h3><a routerLink="/blog-details">Making Peace With The Feast Or Famine Of Freelancing</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/blog-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/blog-details"><img src="images/blog/img4.jpg" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>20 March 2025</span>
                                <h3><a routerLink="/blog-details">Startup Marketing Solution For Business Owner</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/blog-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/blog-details"><img src="images/blog/img5.jpg" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>25 April 2025</span>
                                <h3><a routerLink="/blog-details">Web Developement Best Work In Future World</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/blog-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a routerLink="/blog-details"><img src="images/blog/img6.jpg" alt="image"></a>
                            </div>
                            <div class="content">
                                <span>30 July 2025</span>
                                <h3><a routerLink="/blog-details">Instagram Feed Add To Your WordPress Site</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
                                <a routerLink="/blog-details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a routerLink="." class="prev page-numbers"><i class="flaticon-left"></i></a>
                            <a routerLink="." class="page-numbers">1</a>
                            <span class="page-numbers current" aria-current="page">2</span>
                            <a routerLink="." class="page-numbers">3</a>
                            <a routerLink="." class="page-numbers">4</a>
                            <a routerLink="." class="next page-numbers"><i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <app-widget-sidebar />
            </div>
        </div>
    </div>
</div>

<app-footer />

<app-back-to-top />