.protfolio-section {
    &.bg-color {
        background-color: #f2f0fe;
    }
}
.single-protfolio-box {
    margin-bottom: 30px;
    transition: var(--transition);
    background-color: var(--white-color);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);

    .image {
        a {
            display: block;
        }
    }
    .content {
        padding: 30px;
        position: relative;

        h3 {
            font-size: 22px;
            margin-bottom: 6px;
            transition: var(--transition);
        }
        span {
            transition: var(--transition);
        }
        .link-btn {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
    }
    &:hover {
        background-color: var(--main-color);

        h3 {
            color: var(--white-color);
        }
        span {
            color: var(--white-color);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}