<!-- Default -->
<div
    class="clients-section py-12"
    id="feedback"
>
    <div class="container">
        <div class="section-title">
            <h2>What Our <span>Clients</span> Says</h2>
            <div class="bar"></div>
        </div>
        <div class="clients-slider">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="clients-item">
                        <div class="icon">
                            <i class="flaticon-left-quotes-sign"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, printing printing sed do eiusmod tempor incididunt ut labore et printing dolore magna aliqua. Quis ipsum printing suspendisse ultricesss gravida. Risus commodo viverra printing maecenas accumsan lacus vel facilisis printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="clients-content">
                            <h3>Moris Jacker</h3>
                            <span>Web Developer</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="clients-item">
                        <div class="icon">
                            <i class="flaticon-left-quotes-sign"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, printing printing sed do eiusmod tempor incididunt ut labore et printing dolore magna aliqua. Quis ipsum printing suspendisse ultricesss gravida. Risus commodo viverra printing maecenas accumsan lacus vel facilisis printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="clients-content">
                            <h3>Alex Maxwel</h3>
                            <span>Agent Management</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="clients-item">
                        <div class="icon">
                            <i class="flaticon-left-quotes-sign"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, printing printing sed do eiusmod tempor incididunt ut labore et printing dolore magna aliqua. Quis ipsum printing suspendisse ultricesss gravida. Risus commodo viverra printing maecenas accumsan lacus vel facilisis printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="clients-content">
                            <h3>Edmond Halley</h3>
                            <span>Web Designer</span>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

