.overview-section {
    background-color: #f0f1fe;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.overview-content {
    text-align: center;
    margin-bottom: 30px;

    .icon {
        background-color: var(--white-color);
        border: 1px dashed var(--main-color);
        height: 100px;
        width: 100px;
        line-height: 100px;
        border-radius: 50%;
        color: var(--white-color);
        position: relative;
        z-index: 1;
        font-size: 30px;
        margin: {
            left: auto;
            right: auto;
        };
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            background: linear-gradient(to right, #85edfe, #6ee0ff, #60d2ff, #5fc2ff, #6bb1ff);
            border-radius: 50%;
            margin: 10px;
        }
    }
    h3 {
        font-size: 25px;
        margin: {
            top: 25px;
            bottom: 8px;
        };
    }
    p {
        margin-bottom: 0;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .overview-content {
        h3 {
            font-size: 20px;
        }
        .icon {
            height: 80px;
            width: 80px;
            line-height: 88px;

            i {
                height: 60px;
                width: 60px;
                line-height: 60px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .overview-content {
        .icon {
            height: 80px;
            width: 80px;
            line-height: 88px;

            i {
                height: 60px;
                width: 60px;
                line-height: 60px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}