.widget-area {
    .widget {
        margin-top: 35px;

        &:first-child {
            margin-top: 0;
        }
        .widget-title {
            border-bottom: 1px solid #eeeeee;
            padding-bottom: 10px;
            margin-bottom: 25px;
            text-transform: capitalize;
            position: relative;
            font-size: 21px;

            &::before {
                content: '';
                position: absolute;
                background: var(--main-color);
                bottom: -1px;
                left: 0;
                width: 50px;
                height: 1px;
            }
        }
    }
    .widget_search {
        box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
        background-color: var(--white-color);
        padding: 15px;

        form {
            position: relative;

            label {
                display: block;
                margin-bottom: 0;
            }
            .search-field {
                background-color: transparent;
                height: 50px;
                padding: 6px 15px;
                border: 1px solid #eeeeee;
                width: 100%;
                display: block;
                outline: 0;
                transition: var(--transition);
                
                &:focus {
                    border-color: var(--main-color);
                }
            }
            button {
                position: absolute;
                right: 0;
                outline: 0;
                bottom: 0;
                height: 50px;
                width: 50px;
                z-index: 1;
                border: none;
                color: var(--white-color);
                background-color: var(--main-color);
                transition: var(--transition);
                
                &:hover {
                    background-color: var(--black-color);
                    color: var(--white-color);
                }
            }
        }
    }
    .widget_avrax_posts_thumb {
        position: relative;
        overflow: hidden;

        .item {
            overflow: hidden;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
            .thumb {
                width: 80px;
                float: left;
                height: 80px;
                overflow: hidden;
                position: relative;
                margin-right: 15px;

                .fullimage {
                    width: 80px;
                    height: 80px;
                    display: inline-block;
                    background: {
                        repeat: no-repeat;
                        size: cover !important;
                        position: center center !important;
                    };
                }
            }
            .info {
                overflow: hidden;
                margin-top: 5px;

                time {
                    display: block;
                    color: var(--paragraph-color);
                    text-transform: capitalize;
                    margin: {
                        top: -2px;
                        bottom: 3px;
                    }
                    font: {
                        size: 14px;
                    }
                }
                .title {
                    margin-bottom: 0;
                    line-height: 1.4;
                    font: {
                        size: 16px;
                        family: var(--main-font-family);
                        weight: 700;
                    };
                    a {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .widget_categories {
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                position: relative;
                margin-bottom: 12px;
                color: var(--paragraph-color);
                padding-left: 14px;
                font: {
                    size: var(--font-size);
                    weight: 600;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &::before {
                    background: var(--main-color);
                    height: 7px;
                    width: 7px;
                    content: '';
                    left: 0;
                    top: 8px;
                    position: absolute;
                }
                a {
                    color: var(--black-color);
                    display: block;

                    &:hover {
                        color: var(--main-color);
                    }
                }
                .post-count {
                    float: right;
                }
            }
        }
    }
    .widget_tag_cloud {
        .widget-title {
            margin-bottom: 12px;
        }
    }
    .tagcloud {
        a {
            display: inline-block;
            color: var(--black-color);
            font: {
                weight: 600;
                size: 14px !important;
            }
            padding: 6px 13px;
            border: 1px dashed #eeeeee;
            margin: {
                top: 8px;
                right: 4px;
            }
            &:hover, &:focus {
                color: var(--white-color);
                background-color: var(--main-color);
                border-color: var(--main-color);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .widget-area {
        .widget {
            &:first-child {
                margin-top: 30px;
            }
            .widget-title {
                font-size: 20px;
            }            
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .widget-area {
        .widget {
            &:first-child {
                margin-top: 30px;
            }
            .widget-title {
                font-size: 20px;
            }            
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}