<div class="projects-section pb-70">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Latest <span>Projects</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore magna aliqua.</p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="images/projects/img1.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>App Update & Rebrand</h3>
                        <span>Research and startup</span>
                    </div>
                    <a routerLink="/project-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="images/projects/img2.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>IT Consultancy</h3>
                        <span>Research and startup</span>
                    </div>
                    <a routerLink="/project-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="images/projects/img3.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>Digital Marketing</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/project-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="images/projects/img4.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>App Development</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/project-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="images/projects/img5.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>IT Solutions</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/project-details" class="link-btn"></a>
                </div>
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="images/projects/img6.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>Data Management</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/project-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="images/projects/img7.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>E-commerce Development</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/project-details" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>