<app-navbar />

<app-page-banner
    [pageTitle]="'About Us'"
    [pageSubTitle]="'About Us'"
    [backgroundImage]="'images/page-title/bg.jpg'"
/>

<!-- About Us -->
<div class="about-section ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 p-0">
                <div
                    class="about-image"
                    style="background-image: url(images/about/about-2.jpg);"
                >
                    <img src="images/about/about-2.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-tab">
                    <h2>About Our <span>Avrax</span> Agency</h2>
                    <div class="bar"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p>
                    <div class="tab about-list-tab">
                        <ul class="tabs">
                            <li>
                                <button type="button" (click)="switchTab($event, 'tab1')" [ngClass]="{'active': currentTab === 'tab1'}">
                                    Our History
                                </button>
                            </li>
                            <li>
                                <button type="button" (click)="switchTab($event, 'tab2')" [ngClass]="{'active': currentTab === 'tab2'}">
                                    Our Mission
                                </button>
                            </li>
                            <li>
                                <button type="button" (click)="switchTab($event, 'tab3')" [ngClass]="{'active': currentTab === 'tab3'}">
                                    Friendly Support
                                </button>
                            </li>
                        </ul>
                        <div class="tab_content">
                            <div class="tabs_item" id="tab1" *ngIf="currentTab === 'tab1'">
                                <div class="text">
                                    <h3>How to generate your Creative Idea With IT Business</h3>
                                </div>
                                <ul class="list">
                                    <li><i class="flaticon-tick"></i> The Philosopy of Business Analytics</li>
                                    <li><i class="flaticon-tick"></i> Fast Track Your Business</li>
                                    <li><i class="flaticon-tick"></i> Lies & Damn Lies About Your Business</li>
                                    <li><i class="flaticon-tick"></i> The Ultimate Deal on Business</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan facilisis.</p>
                            </div>
                            <div class="tabs_item" id="tab2" *ngIf="currentTab === 'tab2'">
                                <div class="text">
                                    <h3>How to generate your Creative Idea With IT Business</h3>
                                </div>
                                <ul class="list">
                                    <li><i class="flaticon-tick"></i> Lies & Damn Lies About Your Business</li>
                                    <li><i class="flaticon-tick"></i> The Ultimate Deal on Business</li>
                                    <li><i class="flaticon-tick"></i> The Philosopy of Business Analytics</li>
                                    <li><i class="flaticon-tick"></i> Fast Track Your Business</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan facilisis.</p>
                            </div>
                            <div class="tabs_item" id="tab3" *ngIf="currentTab === 'tab3'">
                                <div class="text">
                                    <h3>How to generate your Creative Idea With IT Business</h3>
                                </div>
                                <ul class="list">
                                    <li><i class="flaticon-tick"></i> Fast Track Your Business</li>
                                    <li><i class="flaticon-tick"></i> Lies & Damn Lies About Your Business</li>
                                    <li><i class="flaticon-tick"></i> The Philosopy of Business Analytics</li>
                                    <li><i class="flaticon-tick"></i> The Ultimate Deal on Business</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan facilisis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-team />

<app-faq />


<div class="pb-100"></div>

<app-footer />

<app-back-to-top />