<app-navbar />

<app-page-banner
    [pageTitle]="'Digital Marketing'"
    [pageSubTitle]="'Services Details'"
    [backgroundImage]="'images/page-title/bg-5.jpg'"
/>

<!-- Services Details -->
<div class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-video">
            <div class="details-image">
                <img src="images/services-details/bg.jpg" alt="image">
            </div>
            <div class="details-video">
                <button type="button" class="video-btn popup-youtube" (click)="openPopup()">
                    <i class="flaticon-play"></i>
                </button>
            </div>
            <div class="text">
                <h3>
                    We Provide Useful Services
                </h3>
                <p>
                    Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>
                            Exceptional Best Products
                        </h3>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <div class="features-text">
                            <h4>
                                Reasons to Go with vegetables
                            </h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                            </p>
                        </div>
                        <div class="features-text">
                            <h4>
                                Summer Vegetables Fruits Collection
                            </h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="images/services-details/img1.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="images/services-details/img2.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>
                            We Provide Useful Services
                        </h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                        </p>
                        <div class="services-details-accordion">
                            <div class="faq-accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <button type="button" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
                                            What access do I have on the free plan? <i class='bx bx-chevron-down'></i>
                                        </button>
                                    </div>
                                    <div class="collapse" [ngClass]="{ 'show': isSectionOpen(0) }">
                                        <div class="card-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button type="button" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
                                            What access do I have on a free trial? <i class='bx bx-chevron-down'></i>
                                        </button>
                                    </div>
                                    <div class="collapse" [ngClass]="{ 'show': isSectionOpen(1) }">
                                        <div class="card-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button type="button" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
                                            Does the price go up as my team gets larger? <i class='bx bx-chevron-down'></i>
                                        </button>
                                    </div>
                                    <div class="collapse" [ngClass]="{ 'show': isSectionOpen(2) }">
                                        <div class="card-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button type="button" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
                                            How can I cancel my subscription? <i class='bx bx-chevron-down'></i>
                                        </button>
                                    </div>
                                    <div class="collapse" [ngClass]="{ 'show': isSectionOpen(3) }">
                                        <div class="card-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button type="button" (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }">
                                            Can I pay via an Invoice? <i class='bx bx-chevron-down'></i>
                                        </button>
                                    </div>
                                    <div class="collapse" [ngClass]="{ 'show': isSectionOpen(4) }">
                                        <div class="card-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>

<app-footer />

<app-back-to-top />

<!-- Video Popup -->
<div
    class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-fade mfp-ready"
    *ngIf="isOpen"
    tabindex="-1"
>
    <div class="mfp-container mfp-iframe-holder">
        <div class="mfp-content">
            <div class="mfp-iframe-scaler">
                <button
                    (click)="closePopup()"
                    title="Close (Esc)"
                    type="button"
                    class="mfp-close"
                >
                    ×
                </button>
                <iframe src="https://www.youtube.com/embed/_ZppXdKk4c8" title="Introducing Trezo | The Next-Generation Multi-Framework Admin Dashboard Template" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="mfp-bg mfp-fade mfp-ready" *ngIf="isOpen"></div>