.video-section {
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    padding: {
        top: 200px;
        bottom: 200px;
    };
}
.video-content {
    text-align: center;
    position: relative;

    .video-btn {
        display: inline-block;
        width: 90px;
        height: 90px;
        line-height: 90px;
        background-color: var(--white-color);
        border-radius: 50%;
        color: var(--black-color);
        border-width: 0;
        padding: 0;
        transition: var(--transition);
        position: relative;
        z-index: 1;
        font-size: 30px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            border: 1px solid var(--white-color);
            animation: ripple 2s linear 1s infinite;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            border: 1px solid var(--white-color);
            animation: ripple 2s linear infinite;
        }
        &:hover {
            background-color: var(--main-color);
            color: var(--white-color);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .video-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .video-content {
        .video-btn {
            width: 60px;
            height: 60px;
            line-height: 60px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .video-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}