.faq-accordion {
    .card {
        display: block;
        box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, 0.13) !important;
        background: var(--white-color);
        margin-bottom: 15px;
        border-radius: 0;
        border: none;

        &:last-child {
            margin-bottom: 0;
        }
        .card-header {
            border-radius: 0 !important;
            padding: 0;
            border-bottom: none;
            background-color: var(--white-color);

            button {
                padding: 12px 35px 10px 15px;
                color: var(--black-color);
                text-decoration: none;
                background-color: transparent;
                position: relative;
                text-align: start;
                border-width: 0;
                width: 100%;
                display: block;
                border: {
                    bottom: 1px solid transparent;
                };
                font: {
                    size: 16px;
                    weight: 600;
                };
                i {
                    transform: rotate(0) translateY(-50%);
                    position: absolute;
                    font-size: 20px;
                    right: 15px;
                    top: 50%;
                }
                &.open {
                    border: {
                        bottom: {
                            color: #eeeeee;
                        };
                    };
                    i {
                        transform: rotate(180deg) translateY(50%);
                    }
                }
            }
        }
        .collapse {
            .card-body {
                position: relative;
                padding: 20px;
            }
        }
    }

}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .faq-accordion {
        margin-bottom: 30px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .faq-accordion {
        margin-bottom: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}