<div class="services-section bg-color pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Single <span>Platform</span> , Multiple <span>Audits</span></h2>
            <p>Our audit software platform is smart & intelligent which makes traditional audit process very Simple, Fast, Efficient & Accurate. It's an unique software platform which provides flexibility of managing many audit process through single login.</p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let service of services">
                <div class="single-services-box" style="height: 275px;" (click)="showServiceDetails(service)">
                    <div class="flex items-center justify-center">
                        <img [src]="service.icon" class="ml-4 h-8 w-16" [alt]="service.title">
                    </div>
                    <h3>{{service.title}}</h3>
                    <p>{{service.description}}</p>
                    <a class="read-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="default-shape">
        <div class="shape-1"><img src="images/shape/4.png" alt="image"></div>
        <div class="shape-2 rotateme"><img src="images/shape/5.svg" alt="image"></div>
        <div class="shape-3"><img src="images/shape/6.svg" alt="image"></div>
        <div class="shape-4"><img src="images/shape/7.png" alt="image"></div>
        <div class="shape-5"><img src="images/shape/8.png" alt="image"></div>
    </div>
    <div class="services-shape">
        <img src="images/cloud.png" alt="image">
    </div>
</div>

<app-service-modal 
    [service]="selectedService" 
    [isOpen]="isModalOpen"
    (modalClosed)="handleModalClose()"
></app-service-modal>