.customer-section {
    background: linear-gradient(to right, #d5f8fe, #9be3ff, #71c8ff, #74a8ff, #9d7df8);
}
.customer-content {
    h3 {
        font-size: 40px;
        margin-bottom: 14px;
    }
    .bar {
        height: 4px;
        width: 85px;
        background: var(--main-color);
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 20px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 5px;
            background: var(--white-color);
            animation: {
                duration: 2s;
                timing-function: linear;
                iteration-count: infinite;
                name: MOVE-BG;
            };
        }
    }
    p {
        color: var(--black-color);
    }
    .customer-btn {
        margin-top: 30px;

        .default-btn {
            margin-right: 15px;
        }
    }
}
.customer-image {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    
    .customer-content {
        h3 {
            font-size: 24px;
        }
        .customer-btn {
            margin-top: 20px;

            .default-btn {
                padding: 12px 25px;
            }
            .optional-btn {
                padding: 12px 25px;
            }
        }
    }
    .customer-image {
        margin-top: 30px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .customer-content {
        .customer-btn {
            margin-top: 20px;

            .default-btn {
                padding: 12px 25px;
            }
            .optional-btn {
                padding: 12px 25px;
            }
        }
    }
    .customer-image {
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}