.pricing-section {
    background-color: #faf9ff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.single-pricing {
    background-color: #c2f2fd;
    padding: 50px 90px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 50px 4px 50px 4px;

    .pricing-header {
        h3 {
            font-size: 25px;
            color: var(--black-color);
            margin-bottom: 0;
        }
        p {
            color: var(--black-color);
            font-weight: 500;
        }
    }
    .price {
        display: inline-block;
        height: 100px;
        width: 100px;
        line-height: 100px;
        background-color: var(--white-color);
        border-radius: 50px;
        font: {
            size: 25px;
            weight: bold;
        };
        margin: {
            top: 16px;
            bottom: 16px;
        };
        sup {
            font-weight: 400;
        }
        sub {
            font-weight: 400;
        }
    }
    .pricing-list {
        padding-left: 0;
        margin-bottom: 0;
        text-align: start;

        li {
            list-style-type: none;
            padding-bottom: 12px;
            font-size: 16px;
            color: var(--black-color);
            font-weight: 500;

            &:last-child {
                padding-bottom: 0;
            }
        }
        i {
            color: var(--main-color);
            margin-right: 5px;
        }
    }
    .price-btn {
        margin-top: 25px;

        .default-btn {
            box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
            padding: 12px 30px;
            display: inline-block;
            background-color: var(--white-color);
            color: var(--black-color);
            font-weight: 600;
            border-radius: 30px;
        }
    }
    &:hover {
        .price-btn {
            .default-btn {
                background-color: var(--main-color);
                color: var(--white-color);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-pricing {
        padding: 50px 55px;

        .pricing-header {
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-pricing {
        padding: 50px 55px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-pricing {
        padding: 50px 60px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}