<div class="skills-section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 pl-0">
                <div
                    class="skills-image"
                    style="background-image: url(images/skills.jpg);"
                >
                    <img src="images/skills.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="skills-area">
                    <div class="skills-content">
                        <h3>How to Generate <span>Creative</span> Ideas for your <span>IT</span> Business</h3>
                        <div class="bar"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt  labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus do  umsan lacus vel facilisis. Lorem Ipsum is simply dummy text of the industry. Lorem Ipsum has been the industry's.</p>
                    </div>
                    <div class="skill-bar">
                        <div class="progress-title-holder d-flex align-items-center justify-content-between">
                            <span class="progress-title">
                                Developement
                            </span>
                            <span class="progress-parcentage">
                                75%
                            </span>
                        </div>
                        <div class="progress-content-outter">
                            <div class="progress-content" style="width: 75%;"></div>
                        </div>
                    </div>
                    <div class="skill-bar">
                        <div class="progress-title-holder d-flex align-items-center justify-content-between">
                            <span class="progress-title">
                                Design
                            </span>
                            <span class="progress-parcentage">
                                45%
                            </span>
                        </div>
                        <div class="progress-content-outter">
                            <div class="progress-content" style="width: 45%;"></div>
                        </div>
                    </div>
                    <div class="skill-bar">
                        <div class="progress-title-holder d-flex align-items-center justify-content-between">
                            <span class="progress-title">
                                Marketing
                            </span>
                            <span class="progress-parcentage">
                                80%
                            </span>
                        </div>
                        <div class="progress-content-outter">
                            <div class="progress-content" style="width: 80%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>